<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Fraudes</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- styles -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="antialiased">
    <div class="wrapper">
      <%- include('../../../partials/header') %>
      <%- include('../../../partials/navbar', {opcion: 'FRAUDE'}) %>
      <div class="page-wrapper">
        <div class="container-xl">
          <div class="page-body">
            <div class="card">
              <div class="card-header">
                <div>
                  <h3 class="card-title">Hitos/Eventos</h3>
                  <p class="subtitulo">
                    <%= datos.fraude.NIFCON %> <%= datos.fraude.NOMCON %>
                  </p>
                </div>
              </div>
              <div class="card-body">
                <div class="row row-deck row-cards">
                  <div class="col-12">
                    <div class="card" style="height: 27vh;">
                      <div class="card-header h-1">
                        <div>
                          <h3 class="card-title p-0">Hitos</h3>
                        </div>
                      </div>
                      <div class="card-body">
                        <table class="table table-vcenter table-striped sortable" id="tblHitos">
                          <thead>
                            <tr class="header">
                              <th class="w-4"></th>
                              <th class="w-6">Fecha</th>
                              <th>Tipo</th>
                              <th>Observaciones</th>
                              <th class="w-9">Valor</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% datos.hitos.map(element=> { %>
                              <tr>
                                <!-- col1 -->
                                <td class="w4">
                                  <% if (element.STAHIT===datos.estadosHito.sancionAnulada) { %>
                                    <div class="align-items-center py-0">
                                      <span class="avatar avatar-rounded bg-red-lt">
                                        <h6>ANU</h6>
                                      </span>
                                    </div>
                                    <% } else { %>
                                      <div class="align-items-center py-0">
                                        <span class="avatar avatar-rounded bg-green-lt">
                                          <h6>OK</h6>
                                        </span>
                                      </div>
                                      <% } %>
                                </td>
                                <!-- col2 -->
                                <td class="w-6">
                                  <div class="d-flex py-0 align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.FECHIT.slice(0,10).split('-').reverse().join('/') %></div>
                                    </div>
                                  </div>
                                </td>
                                <!-- col3 -->
                                <td>
                                  <div div class="d-flex py-0 align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.DESTIP %></div>
                                    </div>
                                  </div>
                                </td>
                                <!-- col4 -->
                                <td>
                                  <div class="d-flex py-0 align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.OBSHIT %></div>
                                    </div>
                                  </div>
                                </td>
                                <!-- col5 -->
                                <td class="w-9">
                                  <div class="d-flex py-0 align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.IMPHIT.toLocaleString() %></div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 mt-2">
                    <div class="card">
                      <div class="card-header h-1">
                        <div>
                          <h3 class="card-title p-0">Eventos</h3>
                        </div>
                      </div>
                      <div class="card-body">
                        <table class="table table-vcenter table-striped table-fixHead" id="tblEventos">
                          <thead>
                            <tr class="header">
                              <th class="w-4"></th>
                              <th class="w-7 pl-7">Fecha</th>
                              <th>Tipo</th>
                              <th>Observaciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% datos.eventos.map(element=> { %>
                              <tr>
                                <!-- col1 -->
                                <td class="w-4">
                                  <div class="align-items-center py-0">
                                    <span class="avatar avatar-rounded bg-green-lt">
                                      <h6>OK</h6>
                                    </span>
                                  </div>
                                </td>
                                <!-- col2 -->
                                <td class="w-7 pl-7">
                                  <div class="d-flex py-0 align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.FECEVE.slice(0,10).split('-').reverse().join('/') %></div>
                                    </div>
                                  </div>
                                </td>
                                <!-- col3 -->
                                <td>
                                  <div class="d-flex py-0 align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.DESTIP %></div>
                                    </div>
                                  </div>
                                </td>
                                <!-- col4 -->
                                <td>
                                  <div class="d-flex py-0 align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium">
                                        <%- element.OBSEVE?.length> 30 ? element.OBSEVE?.slice(0, 30) + '...' : element.OBSEVE %>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer text-end">
                <div class="d-flex">
                  <input class="btn btn-white" action="action" onclick="window.history.go(-1); return false;" type="submit" value="Volver" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../../../partials/footer') %>
    </div>
  </body>
</html>