<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Hitos</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <!-- <link rel="stylesheet" href="/css/estilos.css">
  <link rel="stylesheet" href="/css/navbar.css"> -->
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../../partials/header') %>
    <%- include('../../../partials/navbar', {opcion: 'FRAUDE'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <form action="/admin/fraudes/hitos/insert" method="POST" onsubmit="return validate();">
                  <input type="hidden" id="idfrau" name="idfrau" value="<%- datos.fraude.IDFRAU %>">
                  <input type="hidden" id="anuhit" name="anuhit" value="">
                  <div class="card-header">
                    <h3 class="card-title">Hito</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">
                        <div class="mb-1">
                          <div class="form-label">Tipo</div>
                          <div class="input-control">
                            <select class="form-select form-control" id="cbotip" name="tiphit" value="">
                              <option value="0">SELECCIONE UN TIPO</option>
                              <% datos.tipos.map(element=> { %>
                              <option value="<%- element.IDTIPO %>" data-foo="<%- element.ANUHIT %>" <%- element.DISABLED ? 'disabled':'' %>>
                                <%- element.DESTIP %> 
                              </option>
                              <% }) %>
                            </select>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <div class="input-control required">
                            <label class="form-label required">Importe</label>
                            <input type="text" name="imphit" id="imphit" class="form-control" value="" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <label class="form-label">Observaciones</label>
                          <textarea type="text" name="obshit" id="obshit" class="form-control" rows="3" style="resize: vertical"></textarea>
                        </div>
                      </div>
                    </div>
                    <div id="liq" class="row">
                      <div class="col-12">
                        <div class="form-label">Generar liquidaci贸n</div>
                        <label class="form-check form-switch">
                          <input type="checkbox" id="genliq" name="genliq" class="form-check-input" value="0">
                          <span class="form-check-label">Crear hito de liquidaci贸n</span>
                        </label>  
                      </div>
                    </div>
                    <div id="san" class="row">
                      <div class="col-12">
                        <div class="form-label">Generar sanci贸n</div>
                        <label class="form-check form-switch">
                          <input type="checkbox" id="gensan" name="gensan" class="form-check-input" value="0">
                          <span class="form-check-label">Crear hito de sanci贸n</span>
                        </label>  
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/fraudes/hitoseventos/<%- datos.fraude.IDFRAU %>" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-success ms-auto" id="btnInsert">Crear hito</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script>
    const input = document.querySelector('#imphit');
    const elemLiq = document.querySelector('#liq');
    const elemSan = document.querySelector('#san');
    const combo = document.getElementById('cbotip');
    const gLiq = document.querySelector('#genliq');
    const gSan = document.querySelector('#gensan');

    elemSan.style.display = 'none'
    elemLiq.style.display = 'none'

    input.addEventListener('input', (e) => {
      e.target.value = e.target.value.replace(/[^0-9 \,.]/, '').replace(/[.]/g, ',')
    });
    gLiq.addEventListener('change', (e) => {
      e.target.value = e.target.checked ? 1:0
    });
    gSan.addEventListener('change', (e) => {
      e.target.value = e.target.checked ? 1:0
    });
    combo.addEventListener('change', (e) => {
      const data = e.target.options[e.target.selectedIndex].getAttribute('data-foo')
      document.getElementById('anuhit').value = data

      if (parseInt(data) === <%- datos.estadosHito.propuestaLiquidacion %>) {
        elemLiq.style.display = ''
      } else {
        elemLiq.style.display = 'none'
        gLiq.value = 0
        gLiq.checked = false
      }
      if (parseInt(data) === <%- datos.estadosHito.propuestaSancion %>) {
        elemSan.style.display = ''
      } else {
        elemSan.style.display = 'none'
        gSan.value = 0
        gSan.checked = false
      }
    })

      const validate = () => {
        const imphitValue = input.value
        const tiphitValue = combo.value

        if (tiphitValue === '0') {
          setError(combo, 'Tipo requerido')
          setTimeout(function () {
            setSuccess(combo)
          }, 3000)
          return false
        }
        if (imphitValue === '') {
          setError(input, 'Importe requerido')
          setTimeout(function () {
            setSuccess(input)
          }, 3000)
          return false
        }

        document.getElementById('anuhit').value = combo.options[combo.selectedIndex].getAttribute('data-foo')
        return true
      }
      const setSuccess = (element) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.invalid-feedback');

        errorDisplay.innerText = '';
        inputControl.classList.add('is-valid');
        element.classList.remove('is-invalid');
      }
      const setError = (element, message) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.invalid-feedback');

        errorDisplay.innerText = message;
        element.classList.add('is-invalid');
        inputControl.classList.remove('is-valid');
      }
  </script>
</body>
</html>